{
  "name": "Exfil Community",
  "link": "https://discord.gg/playexfil",
  "blurb": "<Heading_Exfil>Welcome to Exfil</>/n
<Light_White>EXFIL is a tactical first person extraction shooter where you become a member</>/n
<Light_White> of one of 4 competing teams tasked with retrieving intel. Using GPS skills, your goal is to </>/n
<Light_White>locate and recover the intel then successfully exfiltrate.</>/n
/n
<Heading_Blue>Community Guidelines</>/n
/n
<Regular_White>1. Be cool, kind, and respectful to one another.</>/n
<Regular_White>2. Do not spam.</>/n
<Regular_White>3. No self-promotion or advertisements.</>/n
<Regular_White>4. No personal information.</>/n
<Regular_White>5. No hate speech or harmful language.</>/n
<Regular_White>6. No political or religious topics.</>/n
<Regular_White>7. No piracy, sexual, NSFW, or otherwise suspicious content.</>/n
<Regular_White>8. Rules are subject to common sense.</>/n
/n
<Heading_Yellow>How To Style Your Community Page</>/n
/n
<Bold_White>════ ★《Styling》★ ════</>/n
/n
<Bold_White>Bold Text: </><Regular_White>Regular Text</>/n
<Bold_Red>Bold Text: </><Regular_White>Regular Text</>/n
<Bold_Blue>Bold Text: </><Regular_White>Regular Text</>/n
<Bold_Green>Bold Text: </><Regular_White>Regular Text</>/n
<Bold_Yellow>Bold Text: </><Regular_White>Regular Text</>/n
<Bold_White>Discord: </><Regular_Blue>https://discord.gg/playexfil</>/n
/n
<Bold_White>════ ★《Ascii》★ ════  </>/n
/n
<Regular_White>┃♦ The Diamond.</>/n
<Regular_White>┃→ The Arrow.</>/n
<Regular_White>┃• The Bullet.</>/n
<Regular_White>┃»» The Chevron.</>/n
<Regular_White>┃↟ The Tree.</>/n
/n
<Bold_White> ════ ★《Other Info》★ ════  </>/n
/n
<Regular_Green>┃♦ Other Important Information.</>/n
<Light_Green>┃♦ Other Important Information. </>/n
/n
<Regular_Yellow>┃» Other Important Information.</>/n
<Light_Yellow>┃» Other Important Information. </>/n
/n
<Bold_Blue>┃★ Other Important Information.</>/n
<Bold_Blue>┃</><Light_White>• Other Important Information. </>/n
<Bold_Blue>┃</><Light_White>• Other Important Information. </>/n
<Bold_Blue>┃</><Light_White>• Other Important Information. </>/n
/n
<Bold_Red>┃★ Other Important Information.</>/n
<Bold_Red>┃</><Light_White>• Other Important Information. </>/n
<Bold_Red>┃</><Light_White>• Other Important Information. </>/n
<Bold_Red>┃</><Light_White>• Other Important Information. </>/n
/n
/n
<Heading_Red>Be Respectful</>/n
/n
<Heading_Exfil>// END TRANSMISSION //</>"
}